header {
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 display: flex;
 border-bottom: 1px solid black;
 justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
}

#logo span {
  color: MediumAquamarine;
}

nav span {
  dispaly: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}
